{% extends 'layout.html' %}

{% block body %}

  <div class="card m-auto" style="width: 20rem;">
    <div class="card-body" style="text-align: center">

      <h5 class="card-title">Edit Item</h5>
      <form action="{{url_for('edit_item', item_id=item.id)}}", method="post">
        <input class="form-control mb-3" name="item_new_name" type="text" value="{{item.name}}">
        <textarea class="form-control mb-3" name="item_new_description" type="text" rows="3">{{item.description}}</textarea>
        <button type="submit" class="btn btn-primary mb-3" style="width:100px">Edit</button>
      </form>

    </div>
  </div>

{% endblock %}
