{% extends 'layout.html' %}

{% block body %}

<div class="row">
  <div class="col-4">
    <div class="list-group" id="list-tab" role="tablist">
      <li class="list-group-item d-flex disabled justify-content-between align-items-center" role="tab"> <strong>Category</strong>
        <span class="badge badge-primary badge-pill">items</span>
      </li>
      {% for category in categories %}
      <li class="list-group-item list-group-item-action list-group-item-info d-flex justify-content-between align-items-center" id="list-{{category.name}}-list" data-toggle="list" href="#list-{{category.name}}" role="tab" aria-controls="{{category.name}}"> {{category.name}}
        <span class="badge badge-primary badge-pill mr-2">{{category.items | length}}</span>
      </li>
      {% endfor %}
    </div>
  </div>
  <div class="col-8">
    <div class="tab-content" id="nav-tabContent">
      {% for category in categories %}
      <div class="tab-pane fade show" id="list-{{category.name}}" role="tabpanel" aria-labelledby="list-{{category.name}}-list">
        <div class="accordion" id="{{'C' + category.id|string}}">
          {% for item in category.items %}          
          <div class="card">
            <div class="card-header" id="{{'B' + item.id|string}}">
              <h2 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#{{'A' + item.id|string}}" aria-expanded="true" aria-controls="{{'A' + item.id|string}}">
                  {{item.name}}
                </button>
                <!-- {{'A' + item.id|string}} converting id into string then concatenating with 'A'  -->
              </h2>
            </div>

            <div id="{{'A' + item.id|string}}" class="collapse" aria-labelledby="{{'B' + item.id|string}}" data-parent="#{{'C' + category.id|string}}">
              <div class="card-body">
                {{item.description}}
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock %}
