{% extends 'layout.html' %}

{% block style %}
<style>
  .crud_icon {color: black}
  .crud_icon:hover {color: #007BFF}
</style>
{% endblock %}

{% block body %}

<div class="row">
  <div class="col-4" style="min-width: 14rem">
    <div class="list-group" id="list-tab" role="tablist">
      <li class="list-group-item d-flex align-items-center" role="tab"> <strong>Category</strong>
        <!-- Add Category icon -->
        <a href="{{url_for('add_category')}}" class="ml-2" title="Add New Category">
          <span class="crud_icon">
            <i class="fas fa-plus-circle fa-sm"></i>
          </span>
        </a>
      </li>
      {% for category in categories %}
      <li class="list-group-item list-group-item-action list-group-item-info d-flex justify-content-between align-items-center" id="list-{{category.name}}-list" data-toggle="list" href="#list-{{category.name}}" role="tab" aria-controls="{{category.name}}"> {{category.name}}
        <span class="badge badge-primary badge-pill mr-2" title="Number of Items">{{category.items | length}}</span>
      </li>
      {% endfor %}
    </div>
  </div>
  <div class="col-8">
    <div class="tab-content" id="nav-tabContent">
      {% for category in categories %}
      <div class="tab-pane fade show" id="list-{{category.name}}" role="tabpanel" aria-labelledby="list-{{category.name}}-list">
        <div class="accordion" id="{{'C' + category.id|string}}">
          <div class="list-group-item pl-4">
            <strong>{{category.name}} Items</strong>
            <!-- Add Item icon -->
            <a href="{{url_for('add_item', category_id=category.id)}}" class="ml-2" title="Add New Item">
              <span class="crud_icon">
                <i class="fas fa-plus-circle fa-sm"></i>
              </span>
            </a>
            <div style="position: absolute; right: 15px; top: 13px">
              <!-- Rename Category icon -->
              <a href="{{url_for('rename_category', category_id=category.id)}}" class="ml-2" title="Rename This Category">
                <span class="crud_icon">
                  <i class="fas fa-edit fa-sm"></i>
                </span>
              </a>
              <!-- Delete Category icon -->
              <a href="{{url_for('delete_category', category_id=category.id)}}" class="ml-2" title="Delete This Category">
                <span class="crud_icon">
                  <i class="fas fa-trash-alt fa-sm"></i>
                </span>
              </a>              
            </div>
          </div>
          {% for item in category.items %}          
          <div class="card">
            <div class="card-header" id="{{'B' + item.id|string}}" style="height: 50px">
              <button class="btn btn-link pt-0" type="button" data-toggle="collapse" data-target="#{{'A' + item.id|string}}" aria-expanded="true" aria-controls="{{'A' + item.id|string}}">
                {{item.name}}
              </button>
              <!-- {{'A' + item.id|string}} converting id into string then concatenating with 'A'  -->
              <div style="position: absolute; right: 15px; top: 13px">
                <!-- Edit Item icon -->
                <a href="{{url_for('edit_item', item_id=item.id)}}" class="ml-2" title="Edit This Item">
                  <span class="crud_icon">
                    <i class="fas fa-edit fa-sm"></i>
                  </span>
                </a>
                <!-- Delete Item icon -->
                <a href="{{url_for('delete_item', item_id=item.id)}}" class="ml-2" title="Delete This Item">
                  <span class="crud_icon">
                    <i class="fas fa-trash-alt fa-sm"></i>
                  </span>
                </a>              
              </div>
            </div>

            <div id="{{'A' + item.id|string}}" class="collapse" aria-labelledby="{{'B' + item.id|string}}" data-parent="#{{'C' + category.id|string}}">
              <div class="card-body">
                {{item.description}}
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock %}
