<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Restaurant Menus</title>
  <!-- Google JQuery CDN -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <!-- FontAwesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <!-- Bootstrap JS -->
<!--   <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
 -->  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
 <!-- App's own JS -->
 <script>
  document.addEventListener('DOMContentLoaded', () => {
    // flash message close button
    document.querySelector('#flash-close').onclick = () => { document.querySelector('#flash').style.display = "none";}
  });
 </script>
 <!-- App's own CSS -->
 <style>
   #flash-close:hover {color: black}
 </style>

  <!-- extra headers block -->
  {% block head %}
  {% endblock %}
  <!-- extra style block -->
  {% block style %}
  {% endblock %}
</head>
<body style="background-color: #ddd">
  
  <!-- body block -->
  <div id="body-content" class="container-fluid p-5">

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div id="flash" class="alert alert-{{category}}" role="alert" style="position: relative">
            {{ message|safe }}
            <span id="flash-close" style="position: absolute; right: 20px;"> 
              <i class="fas fa-times"></i>
            </span>
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}

    {% block body %}
    {% endblock %}
  </div>

</body>
</html>
